.characterCreatorDiv {
  border: 1px solid black;
  border-collapse: collapse;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
}

.characterCreatorGridParent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.characterCreatorPortrait {
  grid-area: 1 / 1 / 6 / 3;
  overflow: hidden;
}
.characterCreatorName {
  grid-area: 1 / 3 / 2 / 5;
}
.characterCreatorAlias {
  grid-area: 1 / 5 / 2 / 11;
}
.characterCreatorClassSelect {
  grid-area: 2 / 3 / 3 / 5;
}
.characterCreatorClassInfo {
  grid-area: 2 / 5 / 3 / 11;
}
.characterCreatorBackgroundSelect {
  grid-area: 3 / 3 / 4 / 5;
}
.characterCreatorBackgroundInfo {
  grid-area: 3 / 5 / 4 / 11;
}
.characterCreatorHeritageSelect {
  grid-area: 4 / 3 / 5 / 5;
}
.characterCreatorHeritageInfo {
  grid-area: 4 / 5 / 5 / 11;
}
.characterCreatorViceSelect {
  grid-area: 5 / 3 / 6 / 5;
}
.characterCreatorViceInfo {
  grid-area: 5 / 5 / 6 / 11;
}
.characterCreatorSpecialAbilities {
  grid-area: 6 / 1 / 13 / 5;
}
.characterCreatorDots {
  grid-area: 6 / 9 / 13 / 11;
}
.characterCreatorFriends {
  grid-area: 6 / 5 / 13 / 7;
}
.characterCreatorInventory {
  grid-area: 6 / 7 / 13 / 9;
}

div.characterCreatorDots input[type="checkbox"] {
  clip-path: circle(40% at 50% 50%);
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

div.characterCreatorDots span {
  margin-right: 10px;
}
